---

---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Calculadora de desayunos para bar - Gestiona pedidos y calcula cuentas" />
		<title>Calculadora de Desayunos</title>
		<link rel="stylesheet" href="/css/global.css">
	</head>
	<body>
		<app-controller></app-controller>
		
		<script type="module">
			import '/js/components/app-controller.js';
		</script>
	</body>
</html>
